{% extends "users/base.html" %} {% block body%}
<div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
    doloribus. Libero, aliquam. Ducimus, ipsam ad voluptates vero sed qui
    reprehenderit totam quibusdam veritatis illo odit quasi fugiat omnis
    perspiciatis dolorem!
  </p>
</div>

<div>
  {%load crispy_forms_tags %}
  <h5>Load initial accounts</h5>
  <form
    method="POST"
    action="{% url 'initial_account_load' %}"
    enctype="multipart/form-data"
  >
    {% csrf_token %} {{ load_account_form| crispy }}
    <input type="submit" value="Load Accounts" class="btn btn-primary" />
  </form>
</div>
{% endblock%}
