{% extends "users/base.html" %} {% load crispy_forms_tags %}{% block title %}
Registration page {%endblock%} {% block script %} {% load static %}
<link
  rel="stylesheet"
  href="{% static 'users/css/register.css' %}"
/>{%endblock%} {% block body %} {% if message %} {{ message }} {% endif %}

<div class="signup-form">
  <form action="{% url 'register' %}" method="post">
    <h2>Register</h2>
    <p class="hint-text">
      Create your account. It's free and only takes a minute.
    </p>
    {% csrf_token %} {{ form|crispy}}
    <div class="form-group">
      <label class="checkbox-inline"
        ><input type="checkbox" required="required" /> I accept the
        <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label
      >
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Register Now
      </button>
    </div>
  </form>
  <div class="text-center">
    Already have an account? <a href="/">Sign in</a>
  </div>
</div>
{% endblock %}
