{% extends "users/base.html" %} {% block title %} {{ user }} {% endblock %}
{%block script%} {%endblock%} {%block body%}
<div>
  <h3>Welcome {{ user.username}}</h3>
</div>
<div>
  <h3>Clubs</h3>
  <ul>
    {% for club in clubs %}
    <li>{{ club }}</li>
    {% endfor %}
  </ul>
</div>
<div>
  <h3>Agent Players</h3>
  <ul>
    {% for agent in user.agent_players.all %}
    <li>
      {{ agent }}
      <p>Accounts</p>
      <ul>
        {% for account in agent.accounts.all %}
        <li>{{ account }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<div>
  <form action="{% url 'create_agent' %}" method="POST">
    {% csrf_token %} {{ agent_form }}
    <input type="hidden" name="next" value="{{ request.path }}" />
    <input type="submit" class="btn btn-primary" value="Add Agent" />
  </form>
</div>

<div>
  <form action="{% url 'create_account' %}" method="POST">
    {% csrf_token %} {{ account_form }} {{account_club_form}}
    <input type="hidden" name="next" value="{{ request.path }}" />
    <input type="submit" class="btn btn-primary" value="Add Account" />
  </form>
</div>
<div>
  <button>Add Account</button>
  <button>Add Player</button>
</div>
<div>
  <a href="{% url 'create_report' %}">test create record</a>
</div>

<a href="{% url 'logout' %}">logout</a>
{% endblock %}
