{% extends "users/base.html" %} {% block title %} {{ user }} {% endblock %}
{%block script%} {%endblock%} {% load crispy_forms_tags %} {%block body%}
<div>
  <h3>Welcome {{ user.username}}</h3>
</div>
<div>
  <h3>Clubs</h3>
  
    {% for club in clubs %}
    <li>{{ club }}</li>
    {% endfor %}
  </ul>
  <table>
    <thead>
      <tr>
        <th>Platform</th>
        <th>Name</th>
        <th>Code</th>
        <th>Club ID</th>
        <th>Chip Value</th>
        <th>Rakeback</th>
      </tr>
    </thead>
    <tbody>
      {% for club in clubs %}
      <tr>
        <td>{{ club.platform}}</td>
        <td>{{ club.name }}</td>
        <td>{{ club.code }}</td>
        <td>{{ club.id }}</td>
        <td>{{ club.chip_value }}</td>
        <td>{{ club.rakeback}}</td>
      </tr>
      {% endfor %}
    </tbody>

    </tr>
  </table>
</div>

<div>
  <button><a href="{% url 'reports' %}">Reports</a></button>
</div>
<div>
  <h3>Agent Players</h3>
  <ul>
    {% for agent in user.agent_players.all %}
    <li>
      {{ agent }}

      <p>Accounts</p>
      <ul>
        {% for account in agent.accounts.all %}
        <li>{{ account }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<div>
  <form action="/" method="POST">
    {{upload_form|crispy}}
  </form>
</div>

<div>
  <form action="{% url 'create_agent' %}" method="POST">
    {% csrf_token %} {{ agent_form|crispy }}
    <input type="hidden" name="next" value="{{ request.path }}" />
    <input type="submit" class="btn btn-primary" value="Add Agent" />
  </form>
</div>

<div>
  <form action="{% url 'create_account' %}" method="POST">
    {% csrf_token %} {{ account_form|crispy }}
    <input type="hidden" name="next" value="{{ request.path }}" />
    <input type="submit" class="btn btn-primary" value="Add Account" />
  </form>
</div>
<div>
  <a href="{% url 'create_report' %}">test create record</a>
</div>

<a href="{% url 'logout' %}">logout</a>
{% endblock %}
