<!DOCTYPE html>
<html>
  <head>

    {% load bootstrap4 %} {% bootstrap_css %} {%bootstrap_javascript jquery%}
    <title>{% block title %} {% endblock %}</title>
    {% block script %}

    {% endblock %} {% block style%} {% endblock%}
    <style>
      .asteriskField {
        display: none;
      }
    </style>
  </head>
  <body>
    {%load crispy_forms_tags %}
    <div class="container">
      <!-- navigation bar-->
      {% if request.user.is_authenticated %}
      <nav class="sticky-top navbar navbar-expand-md navbar-light bg-light">
        <a href="{% url 'index' %}" class="navbar-brand"><b>PokerPA</b></a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
            <a
              id="add_agent_player_nav"
              href="#"
              class="nav-item nav-link"
              data-toggle="modal"
              data-target="#agent_player_modal"
              >Add Agent/Player</a
            >
            <a
              href="#"
              class="nav-item nav-link"
              data-toggle="modal"
              data-target="#account_modal"
              >Add Account</a
            >
            <a
              href="#"
              class="nav-item nav-link"
              data-toggle="modal"
              data-target="#upload_file_modal"
              >Upload Report</a
            >
          </div>

          <div class="navbar-nav ml-auto">
            <a href="{% url 'reports'%}" class="nav-item nav-link active"
              ><b>Reports</b></a
            >
            <a href="{% url 'guide' %}" class="nav-item nav-link active"
              ><b>Guide</b></a
            >

            <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
          </div>
        </div>
      </nav>
      {% endif %}

      <!-- add agent player  -->
      <div id="agent_player_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Agent/Player</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <form
                id="agent_form"
                action="{% url 'create_agent' %}"
                method="POST"
              >
                {% csrf_token %} {{ agent_form|crispy }}
                <input type="hidden" name="next" value="{{ request.path }}" />
                <input
                  type="submit"
                  class="btn btn-primary btn-block"
                  value="Add"
                />
              </form>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- upload file -->
      <div id="upload_file_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Upload Report</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <form
                id="file_upload_form"
                action="{% url 'upload_file' %}"
                method="POST"
                enctype="multipart/form-data"
              >
                {% csrf_token %} {{upload_form|crispy}}
                <input type="submit" class="btn btn-primary" value="Upload" />
              </form>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- account form ? -->
      <div id="account_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add New Account</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <form
                id="account_form"
                action="{% url 'create_account' %}"
                method="POST"
              >
                {% csrf_token %} {{ account_form|crispy }}
                <input type="hidden" name="next" value="{{ request.path }}" />
                <input
                  type="submit"
                  class="btn btn-primary btn-block"
                  value="Add Account"
                />
              </form>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Delete Modal HTML -->
      <div id="delete_account_modal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form id="delete_account_form" action="/" method="DELETE">
              <div class="modal-header">
                <h4 class="modal-title">Delete Account</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete these Records?</p>
                <p class="text-warning"><small>This action cannot be undone.</small></p>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-danger" value="Delete">
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- notes -->
      <div id="notes_modal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <h4 class="modal-title">Notes</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <form action="/" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="container">
      
                    <div class="form-group">
                      <textarea id="modal_note_text" class="form-control" cols="35" name="note">Notes</textarea>
                    </div>
      
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Close">
                  <input type="submit" class="btn btn-danger" value="Save">
                </div>
              </form>
          </div>
        </div>
      </div>
      
      <!-- add account club for account s-->
      <div id="individual_account_modal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Club Deal</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div id="account_clubs_div">
                </div>
                <form method="POST" action="{% url 'add_account_club' %}">
                  {% csrf_token %}{{account_club_form|crispy}}
                  <input type="submit" value="Add Club" class="btn btn-primary btn-block">
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- edit account  form -->
      <div id="edit_account_modal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit Account</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div id="account_clubs_div">
                </div>
                <form method="POST" action="/">
                  {% csrf_token %}{{edit_account_form|crispy}}
                  <input type="submit" value="Edit Account" class="btn btn-primary btn-block">
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- add club for user -->
      <div id="add_club_modal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Club</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div id="account_clubs_div">
                </div>
                <form method="POST" action="{% url 'deals' %}">
                  {% csrf_token %}{{add_club_form|crispy}}
                  <input type="submit" value="Add Club" class="btn btn-primary btn-block">
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      {% block body %} {% endblock %}
    </div>
  </body>
</html>
