{% extends "users/base.html" %} {%load crispy_forms_tags %}{% block title %} {{ user }} {% endblock %}
{%block script%} 
{% load static %}
<script src="{% static 'users/js/users.js' %}"></script>
{%endblock%} 

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/css/users.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% endblock %}


{%block body%}
<!-- annoucement -->

  {% for announcement_obj in announcements %}
    <div class="alert alert-success alert-dismissible fade show annoucement">
      <p>{{ announcement_obj }} </p>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endfor %}

<!-- welcome User -->
<div>
  <p class='display-4'>Welcome {{ user.username}}</p>
</div>

<!-- clubs -->
<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col ">
        <h3>Clubs</h3>
      </div>
      <div class="col text-right">
        <a href="#add_club_modal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i>
        <span>Add Club</span></a>
      </div>
    </div>
  </div>
  <div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Club ID</th>
          <th>Referral ID</th>
          <th>Club Name</th>
          <th>Rakeback</th>
          <th>$</th>
        </tr>
      </thead>
      <tbody>
        {% for club_deal in user.club_deals.all %}
        <tr>
          <td>{{ club_deal.club.club_id }}</td>
          <td>{{ club_deal.referral_id }}</td>
          <td>{{ club_deal.club.name}}</td>
          <td>{{ club_deal.rakeback_percentage|floatformat:"-3" }}</td>
          <td>{{ club_deal.chip_value }}</td>
        </tr>
        {% endfor %}
      </tbody>

      </tr>
    </table>
  </div>
</div>


<!-- crud bootstrap dashboard-->
{% for agent in user.agent_players.all %}
<div class="table-wrapper">
  <!-- table header-->
  <div class="table-title">
    <div class="row">
      <div class="col">
        <h3>{{agent}} <a href="#notes_modal" data-toggle="modal" ><span class="badge badge-info notes" data-id="{{agent.id}}">notes</span></a></h3> 

      </div>
    
      <!-- action //add delete modal for account-->
      <div class="col text-right">
        <a href="#account_modal" class="btn btn-success btn-lg" data-toggle="modal"><i class="material-icons">&#xE147;</i>
          <span>Add Accounts</span></a>
        <a href="#delete_account_modal" class="btn btn-danger btn-lg" data-toggle="modal"><i class="material-icons">&#xE15C;</i>
          <span>Delete</span></a>
      </div>
    </div>
  </div>
  <!-- table body -->
  <table class="table table-striped table-hover">
    <thead>
      
      <tr>
        <th>
          <!-- javascript needed -->
          <span class="custom-checkbox">
            <input type="checkbox" id="selectAll">
            <label for="selectAll"></label>
          </span>
        </th>
        <th>Name</th>
        <th>Account ID</th>
        <th>Status (coming soon)</th>
        <th>Notes (coming soon)</th>
        <th>Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
  
        {% for account in agent.accounts.all %}
        <tr id="{{account.id}}">
            <td>
              <span class="custom-checkbox">
                <input type="checkbox" id="checkbox_{{account.id}}" name="options[]" value="1">
                <label for="checkbox_{{account.id}}"></label>
              </span>
            </td>
            <td class="account_name"><a href="#individual_account_modal" data-toggle="modal">{{account.nickname}}</a></td>
            <td>{{account.club_account_id}}</td>
            <td><span class="badge badge-success">active</span></td>
            <td>notes</td>
            <!-- edit/delete account modal-->
            <td>
                  <a href="#edit_account_modal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                  title="Edit">&#xE254;</i></a>
              <a href="#delete_account_modal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                  title="Delete">&#xE872;</i></a>
            </td>
          
          
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}
{% endblock %}
